
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;


$light-theme: (
  color-primary: #f5f5f5,
  color-secondary: #fff,
  color-tertiary: #f8f9fa,
  text-color: #212529,
  title-color: #212529,
  box-shadow-color: #212529,
);

$dark-theme: (
  color-primary: #222831,
  color-secondary: #31363F,
  color-tertiary: cadetblue,
  text-color: #EEEEEE,
  title-color: #222831,
  box-shadow-color: #31363F,
);